body{
    animation: colorchange 10s infinite;
}
@keyframes colorchange{
    0%{background-color: #E2D3CD;}
    25%{background-color: #E3DAD5;}
    50%{background-color: #E6CDB5;}
    75%{background-color: #E3DAD5;}
    100%{background-color: #E2D3CD;}
}
#navbar {
    display: flex; /*Use flexbox to align items horizontally */
    padding: 10px; /* Add some padding for spacing */
}

/* Style the navbar items */
.navbar-item, .bottombar-item {
    font-family: 'Julius Sans One', sans-serif;
    margin: 2% 2% 2% 2%;
    text-decoration: none; /* Remove underline from links */
    text-align: center;
    background-color: #f6f2dd;
    width: 100px;
    padding: 10px;
    line-height: 30px;
    height: 30px;
    border-radius: 5px; /* Made th border be cruve */
    border-left: 4px double; /* Made th border */
    border-right: 4px double;
    border-color: #ff471a;
    box-shadow: 2px 2px 10px -3px black;
}
#name{
    position: relative;
}
.text {
    position: absolute;
    font-size: 30px;
    transform: translate(-50%,-50%);
}
#text1, #img1{
    animation: flash1 15s infinite ease-in-out;
}
#text2, #img2{
    animation: flash2 15s infinite ease-in-out;
}
@keyframes flash1{
    0%,50%,100%{
        filter: blur(0);
        opacity: 1;
    }
    25%,75%{
        filter: blur(1.25em);
        opacity: 0;
    }
}
@keyframes flash2{
    0%,50%,100%{        
        filter: blur(1.25em);
        opacity: 0;
    }
    25%,75%{
        filter: blur(0);
        opacity: 1;
    }
}
.navbar-item:hover , .bottombar-item:hover{
    transition-delay: 0.1s;
    transform: scale(1.25);
}
/* #downarrow{
    display: none;
    justify-content: center;
    align-items: center; 
} */
#arrow{
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */ 
    z-index: 1;
    transform: translateY(-3px);
    animation: bounce 1.5s cubic-bezier(0.42, 0, 0.7, 0.5) infinite alternate;
}
#test {
    transform: translateY(-3px);
    animation: bounce 1.5s cubic-bezier(0.42, 0, 0.7, 0.5) infinite alternate;
}
.arrow-item{
    margin-left: 4%;
    margin-right: 4%;
}
@keyframes bounce{
    0% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}
#profile_pic {
    width: 200px; /* Set the width of the container */
    margin: auto; /* Make the picture appear in the center */
    height: 200px; /* Set the height of the container */
    overflow: hidden; /* Hide overflowing content */
    border-radius: 50%; /* Apply a circular border-radius to create a circle */
}

#profile_pic img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Remove any extra spacing beneath the image */
}

#title, #navbar, #name, #context_channel, #bottombar, #maparea, .busuanzi, #traffic{
    display: flex; /* Use flexbox to center horizontally */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.content {
    margin-left: 350px;
    margin-right: 350px;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}
#name{
    margin: 10px 0;
}
.detail{
    margin: 10px;
    display: flex; /* Use flexbox to center horizontally */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}
.detail-project{
    display: grid; /* Use flexbox to center horizontally */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}
.row-project{
    margin-bottom: 20px;
}
.square{
    display: flexbox;
    background-color: #f6f2dd;
    width: 800px;
    height: 200px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.37);
    border-radius: 32px;
    padding: 10px;
}
.hidden {
    display: none;
}
.map{
    width:150px;
}
.row {
	width: 100%;
	height: 250px;
	text-align: center;
    margin-bottom: 100px;
}
.project-item {
    position: relative;
}
.portfolio-item {
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	overflow: hidden;
    border-radius: 100%;
    overflow: hidden;
}
.row .portfolio-item, .row .project-item{
    margin-right: 30px;
    margin-left: 30px;
}
#detail-portfolio-inside{
    display: block;
}
.row .bottombar-item, #navbar .navbar-item, #bottombar .bottombar-item , #test{
    cursor: pointer;
}
.scrolldown{
    transform: translateY(-38%);
}
.project-item{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;
}
.busuanzi,.traffic{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
}
#busuanzi_container_site_uv::after{
    content: "|";
    padding-left: 10px;
    margin-right: 10px;
}
